<!DOCTYPE html>
<html lang="zh-tw" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/statics/css/cover.css" rel="stylesheet">
    <link href="/statics/css/floating.css" rel="stylesheet">

</head>
<body class="d-flex h-100 text-center text-white bg-dark console">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">茉莉咖啡館預購系統</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">首頁</a>
                    <a class="nav-link" href="/form">預購商品</a>
                    <a class="nav-link" href="/logout">登出</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>開始預購商品</h1>
            <p class="lead"></p>
            <p class="lead">
                <a href="/form" class="btn btn-lg btn-secondary fw-bold border-white bg-white">按我</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2017–2021 茉莉咖啡館</p>
        </footer>
    </div>
</body>
</html>